<div class="masthead masthead-sm">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6">
        <h1 class="page-title"> {{@page.title}} </h1>
      </div>
      <!--div class="col-12 col-sm-6">
        <ul class="nav justify-content-end github-buttons">
          
          <li class="nav-item">
            <iframe src="http://ghbtns.com/github-btn.html?user={{@site.name}}&amp;repo={{@site.name}}&amp;type=watch&amp;count=true&amp;" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
          </li>
          <li class="nav-item">
            <iframe src="http://ghbtns.com/github-btn.html?user={{@site.name}}&amp;repo={{@site.name}}&amp;type=fork&amp;count=true&amp;" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
          </li>
        </ul>
      </div-->
    </div>
  </div>
</div>