<nav class="navbar navbar-toggleable-md navbar-light">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="index.html">{{ @site.name }}</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {{#pages}}
        {{#each (sort items @site.nav.main) as | item |}}
        <li class="nav-item {{#is @root.page.stem item.stem}}active{{/is}}">
          <a class="nav-link" href="{{item.relative}}">{{titleize (default item.data.link item.data.title)}}</a>
        </li>
        {{/each}}
      {{/pages}}

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{{@site.href}}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {{#each @site.nav.dropdown}}
          <a class="nav-link" href="{{.}}.html">{{titleize .}}</a>
          {{/each}}
        </div>
      </li>
    </ul>

    <ul class="navbar-nav gh-buttons pull-right">
      <li class="nav-item">
        <iframe src="http://ghbtns.com/github-btn.html?user=assemble&amp;repo=assemble&amp;type=watch&amp;count=true&amp;" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
      </li>
      <li class="nav-item">
        <iframe src="http://ghbtns.com/github-btn.html?user=assemble&amp;repo=assemble&amp;type=fork&amp;count=true&amp;" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
      </li>
    </ul>

    <!--form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form-->
  </div>
</nav>